<h3>Transaction Form Component</h3>
<div>
<form
    (ngSubmit)="handleSubmit(form.value, form.valid)"
    #form="ngForm"
    novalidate>
    <div>
        Transaction id:
        <input
            type="text"
            name="id"
            readonly
            #id="ngModel"
            [ngModel]="detail?.id">
    </div>

    <div>
        Transaction email:
        <input
            type="text"
            name="email"
            required
            #email="ngModel"
            [ngModel]="detail?.email">
        <div>
            Transaction email is required!
        </div>
    </div>

    <div>
        Transaction phone number:
        <input
            type="text"
            name="phoneNumber"
            required
            #email="ngModel"
            [ngModel]="detail?.phoneNumber">
        <div>
            Transaction phone number is required!
        </div>
    </div>

    <div>
        Transaction password:
        <input
            type="password"
            name="password"
            required
            #email="ngModel"
            [ngModel]="detail?.password">
        <div>
            Transaction password is required!
        </div>
    </div>

    <div>
        <input
            type="checkbox"
            name="confirmed"
            [ngModel]="detail?.confirmed"
            (ngModelChange)="toggleConfirmation($event)">
    </div>

    <div *ngIf="form.value.confirmed">
        Confirmed at: 
        <input
            type="number"
            name="confirmedAt"
            [ngModel]="detail?.confirmedAt">
    </div>

    <button
        type="submit"
        [disabled]="form.invalid">
        Update transaction
    </button>
</form>
</div>