<h3>Transaction Registration form</h3>
<div>
<form
    (ngSubmit)="handleSubmit(form.value, form.valid)"
    #form="ngForm"
    novalidate>

    <div>
        Email:
        <input
            type="text"
            name="email"
            required
            #email="ngModel"
            [ngModel]="detail?.email">
        <div>
            Transaction email is required!
        </div>
    </div>

    <div>
        <span>
            Country phone code:
            <select
                name="phoneCode"
                required
                #phoneCode="ngModel"
                [ngModel]="detail?.phoneCode">
                <option *ngFor="let country of countries" [ngValue]="country.phone_code">
                    {{ country.country_name }}
                </option>
            </select>
            <div>
                Transaction phone number is required!
            </div>
        </span>

        <span>
            Phone number:
            <input
                type="text"
                name="phoneNumber"
                required
                #phoneNumber="ngModel"
                [ngModel]="detail?.phoneNumber">
            <div>
                Transaction phone number is required!
            </div>
        </span>
    </div>

    <div>
        Password:
        <input
            type="password"
            name="password"
            required
            #password="ngModel"
            [ngModel]="detail?.password">
        <div>
            Transaction password is required!
        </div>
    </div>

    <button
        type="submit"
        [disabled]="form.invalid">

        <span>
            Create transaction
        </span>
        
    </button>
</form>
</div>