<h3>Transaction Registration form</h3>
<div>
<form
    (ngSubmit)="handleSubmit(registrationForm.value, registrationForm.valid)"
    #registrationForm="ngForm"
    novalidate>

    {{ registrationForm.value | json }}

    <div>
        Email:
        <input
            type="email"
            name="email"
            required
            pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
            #email="ngModel"
            [ngModel]="detail?.email">
        <div *ngIf="email.errors?.required && email.dirty" class="red">
            Transaction email is required!
        </div>
        <div *ngIf="email.errors?.pattern" class="red">
            Please, enter a valid email address!
        </div>
    </div>

    <div>
        <div>
            Country phone code:
            <select
                name="phoneCode"
                required
                #phoneCode="ngModel"
                [ngModel]="detail?.phoneCode">
                <option [value]="null" disabled selected>Please select</option>
                <option *ngFor="let country of countries" [value]="country.phone_code">
                    {{ country.country_name }}
                </option>
            </select>
            <div *ngIf="phoneCode.errors?.required && phoneCode.dirty" class="red">
                Transaction phone number is required!
            </div>
        </div>

        <div>
            Phone number:
            <input
                type="text"
                name="phoneNumber"
                required
                pattern="^[0-9]+$"
                mask="{{ phoneNumberMask }}"
                #phoneNumber="ngModel"
                (ngModelChange)="toggleMask($event)"
                [ngModel]="detail?.phoneNumber">
            <div *ngIf="phoneNumber.errors?.required && phoneNumber.dirty" class="red">
                Transaction phone number is required!
            </div>
            <div *ngIf="phoneNumber.errors?.pattern" class="red">
                Please, enter numbers only!
            </div>
        </div>
    </div>

    <div>
        Password:
        <input
            type="password"
            name="password"
            required
            minlength="4"
            maxlength="20"
            #password="ngModel"
            [ngModel]="detail?.password">
        <div *ngIf="password.errors?.required && password.dirty" class="red">
            Transaction password is required!
        </div>
        <div *ngIf="password.errors?.minlength || password.errors?.maxlength" class="red">
            <div>The password should have at least 4 symbols.</div>
            <div>The maximum number of symbols is 20.</div>
        </div>
    </div>

    <button
        type="submit"
        [disabled]="registrationForm.invalid">

        <span>
            Create transaction
        </span>
        
    </button>
</form>
</div>