<div>
    
    <!-- {{ infoForm.value | json }} -->

<form
    (ngSubmit)="handleSubmit(infoForm.value, infoForm.valid)"
    #infoForm="ngForm"
    novalidate>

    <fieldset>

    <div class="form-group">
        <label for="transactionId" class="form-label mt-4">Transaction phone number</label>
        <input
            type="text"
            name="transactionId"
            class="form-control"
            [ngClass]="{'is-invalid': (transactionId.errors?.required && transactionId.dirty) }"
            required
            #transactionId="ngModel"
            [ngModel]="detail?.transactionId">
        <div *ngIf="transactionId.errors?.required && transactionId.dirty" class="invalid-feedback">
            Transaction phone number is required!
        </div>

        <div class="form-group">
            <label for="password" class="form-label mt-4">Password</label>
            <input
                type="password"
                name="password"
                class="form-control"
                [ngClass]="{'is-invalid': (password.dirty && (password.errors?.minlength || password.errors?.maxlength)) }"
                minlength="4"
                maxlength="20"
                #password="ngModel"
                [ngModel]="detail?.password">
            <div *ngIf="(password.dirty && (password.errors?.minlength || password.errors?.maxlength))" class="invalid-feedback">
                <div>The password should have at least 4 symbols.</div>
                <div>The maximum number of symbols is 20.</div>
            </div>
        </div>
    </div>
    <div class="text-danger">{{ infoError }}</div>

    <div class="form-group">
        <button
            type="submit"
            class="btn btn-primary mt-4"
            [disabled]="infoForm.invalid">
            <span>
                Transaction review
            </span>
        </button>
    </div>

    </fieldset>
</form>
</div>