<div>
    
     <!-- {{ detail | json }} -->

     <div *ngIf="detail !== null">
         <table class="table table-hover">
             <thead>
             <tr>
                 <th scope="col">Type</th>
                 <th scope="col">Value</th>
             </tr>
             </thead>
             <tbody>
             <tr>
                 <th scope="row">Transaction Id</th>
                 <td>{{ detail?.response?.transactionId }}</td>
             </tr>
             <tr>
                 <th scope="row">E-mail</th>
                 <td>{{ detail?.response?.email }}</td>
             </tr>
             <tr *ngIf="detail?.response?.phoneCode || '' !== ''">
                 <th scope="row">Phone Code</th>
                 <td>{{ detail?.response?.phoneCode }}</td>
             </tr>
             <tr>
                 <th scope="row">Phone Number</th>
                 <td>{{ detail?.response?.phoneNumber}}</td>
             </tr>
             <tr>
                 <th scope="row">Transaction Status</th>
                 <td>{{ detail?.response?.transactionStatus }}</td>
             </tr>
             <tr *ngIf="detail?.response?.transactionStatus === 'confirmed'">
                 <th scope="row">Confirmed at</th>
                 <td>Date, time: {{ detail?.response?.transactionConfirmedAt?.date }}, Time zone: {{ detail?.response?.transactionConfirmedAt?.timezone }}</td>
             </tr>
             </tbody>
         </table>
     </div>

</div>