<h3>Transaction Creator container</h3>

<div>
    <div>
        {{ codeConfirmation | json }}
    </div>

    <span>
        <button
            (click)="resetCode()">
            &lsaquo; Reset Code
        </button>
        <div id="reset_message">

        </div>

        <button
            (click)="goBack()">
            &lsaquo; Go back
        </button>
    </span>

    <confirmation-form
        [detail]="codeConfirmation"
        (update)="onCodeConfirmation($event)">

    </confirmation-form>
</div>