<h2>One Time Password (OTP)</h2>

<div>
    <div>
        {{ codeConfirmation | json }}
    </div>

    <span>
        <button
            class="btn btn-outline-info ml-3"
            (click)="goBack()">
            &lsaquo; Go back
        </button>

        <button
            class="btn btn-warning mx-3"
            (click)="resetCode()">
            &lsaquo; Reset Code &rsaquo;
        </button>
        <div *ngIf="resetSuccess;" class="form-text text-muted">
            The new confirmation code is sent to your phone
        </div>
        <div class="invalid-feedback">{{ resetError }}</div>
    </span>

    <confirmation-form
        [detail]="codeConfirmation"
        [confirmationError]="confirmationError"
        (update)="onCodeConfirmation($event)">

    </confirmation-form>

</div>