<h3>Transaction Creator container</h3>

<div>
    <div>
        {{ codeConfirmation | json }}
        <div class="red">{{ confirmationError }}</div>
    </div>

    <span>
        <button
            (click)="resetCode()">
            &lsaquo; Reset Code
        </button>
        <div *ngIf="resetSuccess;" class="blue">
            The new confirmation code is sent to your phone
        </div>
        <div class="red">{{ resetError }}</div>

        <button
            (click)="goBack()">
            &lsaquo; Go back
        </button>
    </span>

    <confirmation-form
        [detail]="codeConfirmation"
        (update)="onCodeConfirmation($event)">

    </confirmation-form>
</div>