<div class="app">
  
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">One Time Password</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link active" href="#">Home
              <span class="visually-hidden">(current)</span>
            </a>
          </li>
          <li
            *ngFor="let item of nav"
            class="nav-item">
            <a
              [routerLink]="item.link"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: item.exact }"
              class="nav-link" href="#">
            {{ item.name }}
            </a>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-sm-2" type="text" placeholder="Search">
          <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>

  <ol class="breadcrumb">
    <ng-container *ngFor="let urlPart of currentUrlArr; index as i; last as isLast">
        <li class="breadcrumb-item"
            [ngClass]="{'active': isLast}"
            *ngIf="urlPart!==''; else homeLink">
            <a href="/{{ urlPart }}">{{urlPart}}</a>
        </li>
        <ng-template #homeLink>
            <li class="breadcrumb-item">
                <a href="/">Home</a>
            </li>
        </ng-template>
    </ng-container>
</ol>

  <!-- <nav>
    <a
      *ngFor="let item of nav"
      [routerLink]="item.link"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: item.exact }">
      {{ item.name }}
    </a>
  </nav> -->

  <router-outlet></router-outlet>

</div>